@import url('https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css');
body {
  margin: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

h2 {
  color: black;
}

#uiContainer {
  top: 1px;
  right: 2px;
  background-color:brown;
  height: 100%;
}

#info {
  position: absolute;
  top: 38%;
  background-color: rgba(255, 255, 255, 0.6);
  left: 1px;
}


